name: Build & Release Packages
on:
  workflow_call:
    inputs:
      tag_name:
        description: 'Tag name to create release for'
        required: true
        type: string

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        ref: 'master'
    - name: Use Node.js latest
      uses: actions/setup-node@v4
      with:
        node-version: latest
        cache: 'npm'
    - run: npm ci
    - run: npm run typecheck
    - run: npm run check:write
    - run: npm run check
    - run: npm run build
    - run: npm run test

  publish-npm:
    needs: build-and-test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v4
      with:
        ref: 'master'
    - name: Use Node.js latest
      uses: actions/setup-node@v4
      with:
        node-version: latest
        cache: 'npm'
        registry-url: 'https://registry.npmjs.org'
    - run: npm ci
    - run: npm run build
    - run: npm publish --access public
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  release:
    needs: publish-npm
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: ${{ inputs.tag_name }}
    steps:
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ inputs.tag_name }}
        generate_release_notes: true
        prerelease: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
