name: Build & Release Packages
on:
  release:
    types: [published]
  workflow_call:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js latest
      uses: actions/setup-node@v4
      with:
        node-version: latest
        cache: 'npm'
    - run: npm ci
    - run: npm run typecheck
    - run: npm run check
    - run: npm run build
    - run: npm test

  publish-npm:
    needs: build-and-test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js latest
      uses: actions/setup-node@v4
      with:
        node-version: latest
        cache: 'npm'
        registry-url: 'https://npm.pkg.github.com'
    - run: npm ci
    - run: npm run build
    - run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release:
    needs: publish-npm
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
